<section class="row">
  <%= for ds <- Map.get(@conn, :urls) do %>
    <article class="column">url: <%= ds.url %> | members:
  <%= Enum.join(Enum.map(ds.members, &(&1.screen_name)), " | ") %></article>
  <% end %>
</section>
<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Nuzzelish" %></h1>
  <p>A productive web framework that<br/>does not compromise speed or maintainability.</p>
</section>
